*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.social{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.35;
}
.social::before{
    content: '';
    background-image: url(../../../../assets/images/social-icon.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    width: 15%;
    margin-left: 500px;
}


.div-1{
    height: 180px;
    width: 16%;
    background-color: gray;
}
.div-2{
    height: 180px;
    width: 16%;
    background-color: gray;
    margin-left: 20px;
}
.div-3{
    height: 180px;
    width: 16%;
    background-color: gray;
    margin-left: 20px;
}
.div-4{
    height: 180px;
    width: 16%;
    background-color: gray;
    margin-left: 20px;
}
.div-5{
    height: 180px;
    width: 16%;
    background-color: gray;
    margin-left: 20px;
}
.div-6{
    height: 180px;
    width: 16.1%;
    background-color: gray;
    margin-left: 20px;
}