.slider img{
    height: 700px;
}
.slider-text{
    margin-left: 350px;
    text-align: center;
}
.slider-2nd-title{
    font-size: 40px;
}
.slider-button{
    background-color: red;
    color: white;
    margin-top: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.slider-button button{
    text-align: center;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    .slider img{
        height: 500px;
    }
    .slider-text{
        text-align: center;
        margin-left: -1px;
    }
    .slider-text h1{
        font-size: 44px;
    }
    .slider-2nd-title span{
        font-size: 25px;
    }
    .slider-button{
        background-color: red;
        color: white;
        margin-top: 15px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .slider-button button{
        text-align: center;
    }
    
  }

  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .slider img{
        height: 500px;
    }
    .slider-text{
        text-align: center;
        margin-left: 90px;
        
    }
    .slider-text h1{
        font-size: 44px;
    }
    .slider-2nd-title span{
        font-size: 25px;
    }
    .slider-button{
        background-color: red;
        color: white;
        margin-top: 15px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .slider-button button{
        text-align: center;
    }
    
  }


  /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .slider img{
        height: 500px;
    }
    .slider-text{
        text-align: center;
        margin-left: 100px;
        
    }
    .slider-text h1{
        font-size: 55px;
    }
    .slider-2nd-title span{
        font-size: 25px;
    }
    .slider-button{
        background-color: red;
        color: white;
        margin-top: 15px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .slider-button button{
        text-align: center;
    }
    
  }

  /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .slider img{
        height: 700px;
    }
    .slider-text{
        margin-left: 200px;
        text-align: center;
    }
    .slider-2nd-title{
        font-size: 40px;
    }
    .slider-button{
        background-color: red;
        color: white;
        margin-top: 15px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .slider-button button{
        text-align: center;
    }
    
  }